<!DOCTYPE html>
<html ng-app='linkscaping'>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body ng-controller="linkscapingCtrl">
  <div class="container">
    <div class="row">
    
      <h1>Linkscaping</h1>
      <form name="urlForm" class="well" ng-submit="checkStatus(urlForm.$valid)">
        Enter a URL here:
        <input 
          type="text" 
          name="url" 
          required
          ng-required='true'
          ng-pattern= /^(?!mailto:)(?:(?:https?|ftp):\/\/)?(?:\S+(?::\S*)?@)?(?:(?:(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[0-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))|localhost)(?::\d{2,5})?(?:\/[^\s]*)?$/i
          ng-model="uri">
        </input>
        <input type="submit" value="Go"></input>
        <img class="loading-{{isLoading}}" src="assets/spinner.gif">
      </form>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Status</th>  
          <th>URL</th> 
          <th>Title</th>
        </tr>
        <tr class="active bold">
          <td>{{status.code}}</td> 
          <td>{{status.url}}</td>
          <td>{{status.title}}</td>
        </tr>
        <tr class="{{link.displayClass}}" ng-repeat="link in links | orderBy:'-code'"> 
          <td>{{link.code}}</td> 
          <td>{{link.url}}</td> 
          <td>{{link.title}}</td>
        </tr>
      </table>

      <script src="lib/angular/angular.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
      <script src="app/services.js"></script>
      <script src="app/app.js"></script>
    
    </div> <!-- row -->
  </div> <!-- container -->
</body>
</html>